body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #ddd;
  line-height: 34px;
  background: url("../images/dark_embroidery.png");
}

* {
  /* box-sizing: border-box; */
}

#game {
  margin-top: 2px;
  background: url("../images/image4.jpg");
  padding: 2px;
}
#inst {
  color: white;
}

h1 {
	border-bottom: 3px solid #ddd;
}

.crystal-image {
     width: 200px;
     height: 200px;
     margin: 3px;
   }

@media screen and (max-width: 990px) {
  .crystal-image {
    width: 150px;
    height: 150px;
  }

@media screen and (max-width: 700px) {
  .crystal-image {
    width: 80px;
    height: 80px;
  }